/* Relic UI - Modern CSS Framework for Web Applications */
/* Version: 1.0.0 */
/* Repository: https://github.com/Paul-W-0/Relic-UI */

/* Base styles and CSS variables */
@import url("components/base.css");

/* Layout system */
@import url("components/grid.css");

/* Components */
@import url("components/button.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/dropdown.css");
@import url("components/forms.css");
@import url("components/banner.css");
@import url("components/popups.css");
